@model List<Cook.Models.Recipe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="search-container container-fluid img">
    <div class="text-center">

        <h2 class="search-title">Love to Cook</h2>

        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-inline" }))
        {   
            <div class="form-group">
                @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Search Recipe", id = "search-input" })
                <button class="btn btn-default" id="search-button"><span class="glyphicon glyphicon-search"></span></button>
            </div>   
        }

    </div>
</div>

@*<p>This is a paragraph. I like it! (^_^) </p>*@
@*<hr />*@

<div style="margin-bottom: 20px;">
    @*<ul class="breadcrumb" id="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active" id="breadTitle">All</li>
    </ul>*@
    <ul class="nav nav-pills">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Browse<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="?searchString=All">All</a></li>
                <li><a href="?searchString=Food">Food</a></li>
                <li><a href="?searchString=Drinks">Drinks</a></li>
            </ul>
        </li>
    </ul>
</div>


@Html.Partial("_ListRecipes", Model)



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script>
    
</script>
