@model List<Cook.Models.Recipe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cooking App</h2>

<p>This is a paragraph. I like you! (^_^) </p>
<hr />

@Html.Partial("_ListRecipes", Model)

@*<div class="row">
    @foreach (Cook.Models.Recipe recipe in Model)
    {
        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <div class="center-block">
                    <img src="/content/images/@recipe.img" class="img img-responsive" />
                    <h4 class="text-center">@recipe.name</h4>
                </div>
            </a>
        </div>
    }
</div>*@

@*<hr />*@

