@model Cook.Models.Recipe

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipe</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <a href="@Url.Action("Recipe", "Recipe", new { id = Model.id }, null)" class="thumbnail">
                <div class="center-block">
                    <img src="/content/images/@Model.img" class="img img-responsive center-block" />
                    <h4 class="text-center">@Model.name</h4>
                </div>
            </a>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
