@model Cook.Models.UserDashboardModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.user.username 's Dashboard</h2>
<hr />

@*@{
    List<Cook.Models.Recipe> myRecipeList = new List<Cook.Models.Recipe>();
    List<Cook.Models.Recipe> favouriteRecipeList = new List<Cook.Models.Recipe>();

    foreach (Cook.Models.Recipe recipe in Model)
    {
        if (recipe.isFavourited)
        {
            favouriteRecipeList.Add(recipe);
        }
        if (recipe.isEditable)
        {
            myRecipeList.Add(recipe);
        }
    }
}*@

<h3>Favourited Recipes</h3>
@Html.Partial("_ListRecipes", Model.favouritedRecipeList)
<hr />
<h3>My Recipes</h3>
@Html.Partial("_ListRecipes", Model.myRecipeList)
